<?xml version="1.0" encoding="UTF-8"?>
<!-- 引入外部xml文件 -->
<!DOCTYPE web-app[
<!ENTITY common_web SYSTEM "classes/resources/common/common_web.xml">
]>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Spring MVC配置 -->
	<!-- ====================================== -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		    /WEB-INF/classes/resources/spring/spring-config.xml
		    /WEB-INF/spring-servlet.xml
		</param-value>
	</context-param>

	<!-- 引入公共配置文件 -->
	&common_web;

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
